@model List<CarrosMVC.Models.Marca>

@{
    ViewData["Title"] = "Marcas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Marca</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marca in Model)
        {
            <tr>
                <td>@marca.Id</td>
                <td>@marca.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@marca.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@marca.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
